pipeline/PL_ADLS_to_STAG.json
{
	"name": "PL_ADLS_to_STAG",
	"properties": {
		"activities": [
			{
				"name": "Get_Source_Folder_Meta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMeta",
						"type": "DatasetReference",
						"parameters": {
							"Folder_check_location": {
								"value": "@pipeline().globalParameters.Folder_Path_Global",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachGetFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Folders').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append_SubFolders",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Sub_Folders",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter_Folders",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_Source_Folder_Meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Source_Folder_Meta').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'Folder')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachSubFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEachGetFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Sub_Folders')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"Sub_Folders": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-10T17:06:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}