pipeline/PL_DELTA_EXTRACTION.json
{
	"name": "PL_DELTA_EXTRACTION",
	"properties": {
		"activities": [
			{
				"name": "COPY_DELTA_EXT_FRM_SRC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_STTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.CUST_SRC \nWHERE FORMAT(UPDT_TSTAMP,'yyyyMMddHHmmss') >= \n@{activity('Lookup_Last_Run_Datetime').output.firstRow.MSTIME}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Read_From_Table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "CUST_SRC"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Destination_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"Dest_Name": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"DestFileName": {
								"value": "@concat('Cust_T',formatDateTime(utcnow(),'hhmmss'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_Last_Run_Datetime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(FORMAT(START_TIME,'yyyyMMddHHmmss')),'20170101010000') AS MSTIME FROM dbo.ETLLOGEXT\n\tWHERE PL_NAME = 'PL_DELTA_EXTRACTION' AND OBJ_NAME = 'CUST_SRC' AND STAT = 'SUCCESS'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Read_From_Table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "DBO",
							"TableName": "ETLLOGEXT"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "INSERT_STATUS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "COPY_DELTA_EXT_FRM_SRC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_ETLLOGEXT]",
					"storedProcedureParameters": {
						"ENDATE": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"OBJNAME": {
							"value": "CUST_SRC",
							"type": "String"
						},
						"PLNAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"STATUS": {
							"value": "SUCCESS",
							"type": "String"
						},
						"STDATE": {
							"value": {
								"value": "@variables('STTIME')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_STTIME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_Last_Run_Datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "STTIME",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"STTIME": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-20T19:41:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}