pipeline/PL_STORE_PROC.json
{
	"name": "PL_STORE_PROC",
	"properties": {
		"activities": [
			{
				"name": "SP_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_GET_LOOKUP]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SP_DB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_Active_Columns",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "SP_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SP_Lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Act,True)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Active_Columns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SP_Lookup').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_TableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@replace(item().TabName,' ','')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set SchemeName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SchemaName",
								"value": {
									"value": "@replace(item().schemaName,' ','')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set SchemeName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Read_From_Table",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@variables('SchemaName')",
											"type": "Expression"
										},
										"TableName": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Destination_DataSet",
									"type": "DatasetReference",
									"parameters": {
										"Dest_Name": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"DestFileName": {
											"value": "@concat(variables('SchemaName'),'_',variables('TableName'),formatdatetime(utcnow(),'yyyyMMddHHmmss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_EXEC_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_REC_0_SUCCESS]",
								"storedProcedureParameters": {
									"TABLE_NAME": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_EXEC_Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_REC_0_FAILURE]",
								"storedProcedureParameters": {
									"TABLE_NAME": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"SchemaName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-14T11:49:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}