pipeline/Table_Metadata.json
{
	"name": "Table_Metadata",
	"properties": {
		"activities": [
			{
				"name": "Det_Table_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Read_From_Table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.Schema_Name",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.Table_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "IF Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Det_Table_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Det_Table_Metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Read_From_Table",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@pipeline().parameters.Schema_Name",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Destination_DataSet",
									"type": "DatasetReference",
									"parameters": {
										"Dest_Name": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"DestFileName": {
											"value": "@concat(pipeline().parameters.Schema_Name,pipeline().parameters.Table_Name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Schema_Name": {
				"type": "string",
				"defaultValue": "SalesLT"
			},
			"Table_Name": {
				"type": "string",
				"defaultValue": "Address"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-14T11:49:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}